<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>impact팀 방명록</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'guestbook/css/styles.css' %}">
</head>
<body>
    <div class="blur-background"></div>
    <div class="post-it-container">
        <form class="post-it-form" method="POST">
            {% csrf_token %}
            <h2>impact팀 방명록</h2>
            <textarea name="content" rows="4" cols="30" placeholder="내용을 입력하세요"></textarea>
            <br>
            <button type="submit">작성</button>
        </form>

        <div>
            {% for postit in postits %}
                <div class="post-it">{{ postit.content }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
